/*.root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-color: #ffffff;
} */

body {
  background-color: #e5e5e5;
  color: #757575;
}

.logo {
  color: #000000;
}

.logo:hover {
  color: #2196f3;
}

.list {
  list-style: none;
}

/*site nav*/

.site-nav .link {
  color: #000000;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contact-nav list {
  color: #757575;
}

.contact-nav list:hover,
.contact-nav list:focus {
  color: #2196f3;
}
