/*заголовки і розмітки #212121
/*актив #2196F3
/* текст опису #757575
/* футер #FFFFFF
*/

/*hero*/

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
}

.button-order {
  background: #2196f3;
  color: #ffffff;
}

/*section*/

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
}

/*feature list*/

.feature-list .title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.feature-list,
.text {
  font-size: 14px;
  line-height: 24px;
}

.title-picture {
  background-color: #f5f4fa;
  color: #212121;
}

.title-picture:hover,
.title-picture:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*work*/

.work-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
}

/*team*/

.team-section {
  background: #f5f4fa;
}

.team-list,
.team-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.team-list,
.team-text {
  list-style: none;
  color: #757575;
  font-size: 16px;
  line-height: 19px;
}

.media-title:hover,
.media-title:focus {
  color: #2196f3;
}

/*постійні*/

.social-networks:hover,
.social-networks:focus {
  color: #2196f3;
}
